show page

Name
<%= @user.name %><br>

Tickets
<%= @user.tickets %><br>

Mood
<%= @user.mood %><br>

Height
<%= @user.height %><br>



    <p><strong>Name:</strong> <%= @user.name %></p>
    <p><strong>Tickets:</strong> <%= @user.tickets %></p>

    <p><strong>Height:</strong> <%= @user.height %> inches</p>
